* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}


.navbar {
    background: #364fc7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.hero {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background: #ffd43b;
    border: none;
    cursor: pointer;
}


.section {
    padding: 60px 30px;
    text-align: center;
}

.section.light {
    background: #f8f9fa;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.form input {
    padding: 10px;
    margin: 10px;
    width: 250px;
}

.form button {
    padding: 10px 20px;
    background: #364fc7;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    background: #364fc7;
    color: white;
    text-align: center;
    padding: 15px;
}
